.App {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
}

.App-header {
  background-color: #B8B8B8;
  height: 200px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
