.App {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #808080;
  height: 150px;
  color: white;
  padding-top: 15%;
 
}

.App-title {
  font-size: 2em;
 

}

.App-intro {
  font-size: large;
}

.navbar {
 
  margin-top: auto;
  
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer {
  margin: 0 auto;
  padding: 7px 30px;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
}

.btn.btn-primary {
  background: black !important;
}

h4 {
  padding-top: 5%;
}

header {
  padding-top: 10%;
}